      <div class="card-trip">
        <%= cl_image_tag booking.rocket.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2>Recap of your booking</h2>
            <h2><%= booking.rocket.name %></h2>
             <p><%= booking.rocket.description %></p>
          </div>
          <h2 class="card-trip-pricing">Total StarCoins : <%= booking.price %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
