<div class="container">
  <div class="column">
    <div class="row">
<%# on veut une carte au milieu de la page avec les infos saisies (start et end date) + le calcul du prix (prix de base de la fusée * end - start date) + le status (confirmed)%>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Recap of your booking</h2>
            <p>Rocket name</p>
          </div>
          <h2 class="card-trip-pricing">Total : 1000000€</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>

    </div>
  </div>
</div>
