<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div>
        <h1>My Bookings as an Owner of Rockets</h1>
      </div>
      <div class="row">
        <% @booking_list_as_owner.each do |booking| %>
          <div class="col-md-4">
            <%= render booking %>
          <% end %>
          </div>
      </div>
      <div>
        <h1>My trips as a Traveller</h1>
      </div>
      <div class="row">
        <% @booking_list_as_traveller.each do |booking| %>
          <div class="col-md-4">
            <%= render booking %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
