<div class="container">
  <div class="column">
    <div class="row">
      <h1>Indulge yourself with a fantastic Rocket Experience !</h1>
        <%= link_to "Display all our Rockets to rent", rockets_path %>

      <% if user_signed_in? %>
        <p>Hello <%= current_user.email %></p>
      <% else %>
        <p>You are not logged in</p>
      <% end %>
    </div>
      <h2>Explore our Unique Rocket offering</h2>
  </div>

</div>
